.header {
  display: flex;
  justify-content: space-between;
  border-bottom: #ccc 1px solid;
}

.header-top {
  color: red;
}

.header-cart .icon {
  font-size: 2rem;
  line-height: 48px;
  margin-right: .5rem;
}

.header-cart-text {
  line-height: 48px;
  vertical-align: top;
}